.parent {
    padding-top: 7px;
    display: flex;
    /*flex-direction: column;*/
    background: url('papyrus-dark.png');
    min-height: 100vh;
    background-size: cover;
    align-items: center;
    justify-content: center;
    overflow: auto;
}


.player {
    width: 50%;
    float: left;
    margin-left: 5%;
    background-color: black;
}

@media only screen and (max-width: 968px) {
    .parent {
        flex-direction: column;
    }

    .player {
        width: 80%;
        margin: 0;
    }
}