.playlist {
    width: 50%;
    text-align: justify;
}

.videos {
    cursor: pointer;
    color: black;
    text-decoration: none !important;
    padding-top: 1.5em;

}

.videos:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: black;
}


.btn-primary-outline,
.btn-primary-outline:focus {
    background: transparent;
}

@media only screen and (max-width: 968px) {

    .playlist {
        position: relative;
        width: 70%;
    }
}

.playlistChild {
    margin: 5em;
    background: white;
    color: black;
    padding: 2em;
    border-radius: 5px;
}