.playlist {
    width: 50%;
}

.videos {
    cursor: pointer;
    color: brown;
    text-decoration: none !important;
    padding-top: 1.5em;

}

.videos:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: #036176;
}

.playListButton {
    opacity: 0.5;
}

@media only screen and (max-width: 968px) {

    .playlist {
        position: relative;
        /* top: 10em; */
        width: 70%;
    }
}