.addNewVideo-form {
    width: 80%;
    margin: 3em auto;
    text-align: center;
}

.addNewVideo-form label {
    padding-left: 2em;
}

.addNewVideo-form input {
    margin: 1em;
    border: grey solid;
    opacity: .5;
    border-radius: 4px;
    width: 20%;
    height: 20%;
    padding: .3em
}